<h1>My Devices:</h1>

<div><ul><% @user.devices.each do |device| %>
  <li><%= link_to device.name, device_path(device) %></li>
<% end %></ul></div> <br />

<%= link_to "Create new device", new_user_device_path(@user) %>
<br>
<br>

<h3><%= link_to('Recently added devices', '/devices/recent') %></h3>