<nav class="navbar navbar-expand-lg fixed-top ">   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">     
    <ul class="navbar-nav mr-4">
     <% if current_user %>
        <li class="nav-item">
          <h5 class="user"> <%= current_user.username %></h5>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-value="Home"><%= link_to "Home", user_path(current_user)%></a>    
        </li> 
        <li class="nav-item">
          <a class="nav-link" data-value="All User Devices"><%= link_to "All Devices", user_devices_path(current_user)%></a>
        </li>          
        <li class="nav-item">
          <a class="nav-link " data-value="Logout"><%= link_to "Logout", '/logout' if current_user %></a>  
        </li>      
      <% end %>
    </ul> 
  </div>
</nav>